  <h2>Exercises In This Muscle Group</h2>
  <% @muscle.exercises.each do |exercise| %>

  <p><%= exercise.workout %></p>
  <p><img src= "<%= exercise.photoUrl %>"/>
    </p>
    <%= link_to 'Show', muscle_exercise_path(exercise) %>


  <%end%>
  <%= link_to 'Back', muscles_path %>
  <h2> Add a New Exercise</h2>
  <%= form_for ([@muscle, @exercise]) do |f| %>

  <p>
    <%= f.label :workout %><br>
    <%= f.text_field :workout %>
  </p>
  <p>
    <%= f.label :Photo%><br>
    <%= f.text_area :photoUrl %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
  </p>
  <p>
    <%= f.label :video%><br>
    <%= f.text_area :description %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
